[Unit]
Description=Multimedia Service
Requires=dbus-root-session.service
After=dbus-root-session.service

[Service]
Type=simple
ExecStart=/usr/bin/nice --20 /usr/bin/ionice -c1 -n7 /usr/bin/chrt 99 /usr/bin/pipewire
Restart=on-failure
Environment="PIPEWIRE_RUNTIME_DIR=/tmp"
EnvironmentFile=/tmp/dbus-env

[Install]
WantedBy=default.target
